/*********************
.home>header
**********************/
.home>header {
    width: 100%;
    padding: 5vmin;
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  
  .home>header>.left {
    grid-column: 2 / 7;
    text-align: center;
  }
  
  .home>header>.right {
    grid-column: 10 / 13;
  }
  
  .home>header>.bottom {
    grid-column: 3 / 11;
    margin: 1rem 0 1rem 0;
  }
  
  .home>header>.left .company-name {
    font-size: 4rem;
    text-shadow: 1px 3px 3px var(--color-primary);
    font-weight: 300;
  }
  
  .home>header .right img {
    width: 80%;
    filter: drop-shadow(3px 3px 10px black);
  }


  @media (max-width: 599px) {
    .home>header {
      row-gap: 3vh;
    }
    .home>header>.left .company-name {
      font-size: 3rem;
      text-shadow: 1px 2px 3px var(--color-primary);
    }
  
    .home>header .left {
      margin-top: 1vh;
      grid-column: 1 / -1;
      text-align: center;
    }
  
    .home>header .right {
      grid-column: 1 / -1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .home>header .right img {
      width: 40%;
      filter: drop-shadow(2px 2px 5px black);
    }
  }