@import url('./Header.css');

:root{
  /* --header-background: radial-gradient(#fdfeff, #e2e8f6); */
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*********************
.home>content
**********************/
.home>.content {
  padding: 0 3rem;
  padding-bottom: 5rem;
  width: 100%;
}

.home>.content img{
  /* filter: drop-shadow( 1px 1px 2px  var(--color-secondary)) grayscale(.2);; */
    filter: drop-shadow( 1px 1.5px 0px  white);
}

/* for my south park image */
.home>.content>.zigzag-container>:last-child img{
  filter: drop-shadow( 0px 0px 0px  black);
}

@media (max-width: 599px) {
  .home>.content {
    padding: .5rem .5rem 3rem .5rem;
  }
  .home>.content .horizontal-card>section button{
    margin-top: .5rem;
  }
}

