.post {
    background: rgb(236, 240, 244);
    color: #fff;

    margin: 20px 10px;
    padding: 15px 15px;
    overflow: hidden;
    border-width: 1em;
    ;
    border-color: rgb(25, 118, 210);
    border-radius: 10px;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.6);

    width: 350px;
    height: 350px;
}

.post img {
    height: 100px
}

.post header {
    height: 10%;
    text-overflow: ellipsis;
    text-shadow: .1rem .1rem #545353;
    ;
    font-size: 1rem;
}

.post article {

    font-size: 0.8rem;
}

.post i {
    margin-right: 10px;
}


.card {

    margin: .5rem .5rem;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .55s ease-in-out;
    border-radius: 1rem;
}