.posts {
    display: flex; 
    
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;

    /* flex-basis: 100px; */
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden
}




