@import url('./zigzag-container.css');
@import url('./horizontal-card.css');

:root{
	--card-background-color: #f9f8f8;
	--card-border-color: #ddd;
	--card-header-color: #f5f4f4;
}
.main-container {
	padding: 10vh 1rem;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, auto-fill);
	row-gap: 3vh;
}

.container-description {
	grid-column: 1 / 5;
	padding: 1em 1em;
	height: 5em;
	border-radius: .5em;
	box-shadow: .5vh .5vh 2vh .5vh var(--color-secondary)
}

.container-description a {
	padding: .25rem;
	text-decoration: none;
	font-weight: 500;
}

.inner-container {
	grid-column: 1 / -1;
	padding: 1vh 1vw;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(4, 3fr);
	column-gap: 2vw;
	row-gap: 3vh;
}


/************************************
          default Card
***********************************/
.simple-card{
	background: var(--card-background-color);
	border: solid .5px var(--card-border-color);
	margin: 1rem;
	border-radius: 2rem;
}

.simple-card>header {
	background: var(--card-header-color);
	margin: 0 0 .5rem 0;
	border-radius: 2rem 2rem 0 0;

	padding: 1rem;
	color: var(--color-shadow);
	font: small-caps 500 1.7em var(--font-family);
	text-shadow: .1rem .1rem .3rem var(--color-shadow);	
}


/** Phones **/
@media (max-width: 599px) {
	.main-container {
		padding-left: .75rem;
		padding-right: .75rem;
	}

	.inner-container {
		padding: 5vh 0;
	}

	.cards-container {
		grid-template-columns: repeat(1, 12fr);
	}

	.container-description {
		grid-column: 1 / -1;
		height: 6rem;
	}
	.simple-card {
		border-radius: 1rem;
	}
	.simple-card>header {
		border-radius: 1rem 1rem 0 0;
		font-size: 1.4rem;
	}
}

/** low res devices**/
@media (min-width: 600px) and (max-width: 768px) {
	.cards-container {
		grid-template-columns: repeat(2, 12fr);
	}

	.container-description {
		height: 6rem;
		grid-column: 1 / 6;
	}
}

/** Small Computer screens**/
@media (min-width: 769px) and (max-width: 1200px) {
	.cards-container {
		grid-template-columns: repeat(3, 4fr);
	}
}

/** Big  Computer screens**/
@media (min-width: 1201px) and (max-width: 1468px) {
	.cards-container {
		grid-template-columns: repeat(4, 3fr);
	}
}

/** *huge devices*/
@media (min-width: 1800px) {
	.cards-container {
		grid-template-columns: repeat(6, 2fr);
	}
}