
.horizontal-card{
	width: 70%;
	
	display: grid;
	grid-template-columns: repeat(9,1fr);
	grid-template-rows: repeat(2, auto-fill);
	gap:  1rem;

	grid-template-areas:
	"i i h h s s s - -"
	"i i h h s s s - -"
  }

  .horizontal-card>*{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(-color-primary);
  }

  .horizontal-card>.img-div{
	grid-area: i;
  }
  .horizontal-card img{
	width: 100%;
  }

  .horizontal-card> header{
	grid-area: h;
	font: small-caps 600 xx-large var(--font-family);
	align-items: baseline;
  }
  .horizontal-card>section{
	grid-area: s;
	align-items: baseline;
	justify-content: space-evenly;

	font-size: .875rem;
  }



  @media (max-width: 599px) {
	.horizontal-card{
		width: 90%;
		row-gap: 0;
		grid-template-areas:
		  "i i i i h h h h h"
		  "i i i i s s s s s "
	}
	.horizontal-card> header{
		font-size: x-large ;
	  }
	  .horizontal-card> section{
		font-size: .7rem;
	  }
  }