.button,
button,
input[type="button"],
input[type="submit"] {
    font-size: .8em;
    text-align: center;

    padding: .5em 1.1em;
    cursor: pointer;

    border: 1px solid var(--color-secondary);
    border-radius: .3em;

    background-color: var(--app-background);
    color: var(--color-secondary);
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: var(--color-primary);
    color: var(--app-background);
}

.round-button {
    border-radius: .8rem !important;
}

.tertiary-color-button {
    background: var(--color-tertiary) !important;
color: var(--app-font-color) !important;
    filter: brightness(95%) !important;
}

.tertiary-color-button:hover {
    filter: brightness(110%) !important;
}

.red-button {
    background-color: var(--color-dark-red) !important;
    color: var(--app-font-color) !important;
    filter: brightness(90%) !important;
}

.red-button:hover {
    filter: brightness(100%) !important;
}

.secondary-color-button {
    background: var(--color-secondary) !important;
    color: var(--app-font-color) !important;
    filter: brightness(80%) !important;
    box-shadow: 0px 0px .9px ;
}

.secondary-color-button:hover {
    filter: brightness(100%) !important;
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
    background-color: transparent;
    border-bottom: 1px dotted var(--color-shadow);
}