.masonry-container {
    display: flex;
    gap: 1.2rem;
  }
  /* Style your items */
  .masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: .6rem;
  }