.word-cloud {
    background: #f9f8f8;
    border: solid .5px #ddd;
    margin: 2rem;
    border-radius: 2rem;
}

@media (max-width: 599px) {
    .word-cloud {
        margin: 0rem .5rem 1rem .5rem;
        border-radius: 1rem;
    }
}