.word-cloud {
	width: 55%;
	filter: opacity(90%);
    background: radial-gradient(#364761, var(--color-primary));
	margin: 1.5rem 0px 3rem 0px;
}
.word-cloud>header {
	padding: 0;
}

@media (max-width: 599px) {
	.word-cloud  {
		width: auto;
	}
}