
.prime-day{
  /* background-image: url('../../images/primeday.webp');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #3e85c7;
}
.review-card {
  box-shadow: .25rem .25rem 1rem var(--color-shadow);
  border-radius: 1rem;
}
.review-card:hover {
  box-shadow: .25rem .25rem 1rem var(--color-primary);
}
.my-review-card{
  /* box-shadow: .25rem .25rem 1rem #fcc221; */
  /* border-radius: 1rem; */
  border: none;
}
.my-review-card:hover{
  box-shadow: .25rem .25rem 1rem #3e85c7;
}

.caption {
  background: radial-gradient(#fcc221,#ce9b10);
  opacity: 0.9;
  color: black;
  display: flex;
  gap: 1rem;
}
.caption img{
  height: 100%;
  border-radius: .5rem;
}

.prime-day .simple-card {
  margin-top: 3rem;
}

.prime-day .simple-card section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.amazon-iframe {
  width: 130px;
  height: 250px;
  margin: 10px;
}

.big-font-shadow {
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px gray;
}

@media (max-width: 599px) {
  .alert {
    grid-column: 1 / -1;
    height: 7rem;
  }
  .prime-day .container-description {
		height: 8rem;
    font-size: small;
  }
  .prime-day .container-description img{
		height: 80%;
  }
}