.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 1vh 1vw;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs label {
    padding: 2vh 2vw;
    font-weight: bold;
    background: var(--color-bkg);
    font-size: large ;
}

.tabs input :hover {
    cursor: grab;
}

.tabs .tab {
    width: 100%;
    padding: 3rem  2.5rem;

    order: 1;
    display: none;

    /* box-shadow: inset .5vh .5vh 3vh .5vh var(--color-shadow); */
    /* border: 1px solid #8d9cb8; */
}

.tab li{
   margin-bottom: 0.5rem;
}   
.tabs input[type='radio']:checked+label+.tab {
    display: block;
}

.tabs input[type="radio"]:checked+label {
    background: var(--color-tertiary);
    color: var(--color-bkg);
    border-radius: 5px;
 
}

.tab .clients {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tab img {
    margin: 0 2vw;
}

@media (max-width: 768px) {
    .tabs .tab {
        padding: 25px;
        text-align: left;
    }
}