:root {

  /* --app-font-family: 'Open Sans', sans-serif; */
  --app-font-family: 'Mukta', sans-serif;
  --app-font-color: #bec6cc;


  --color-primary: #1b2038;
  --color-secondary: #37445c;
  --color-tertiary: #cb5d2d;

  /* --app-background: #f4f7f9; */
  --app-background: radial-gradient(var(--color-secondary), var(--color-primary));


  /***  this is extra, but used now, planned to be removed**/
  --color-dark-red: #570000;

}