:root {

  /** Don't directly use these absolute colors under this section in the code **/ 
  --color-red: #580202;
  --color-green: #002f06;

  --color-primary-blue: #111821;
  --color-tertiary-blue: #133d5f;
  --color-cream:#e4e7ef;

 --color-tertiary-yellow: #ddab20;
 --color-primary-yellow: #7e5d03;

 
   /** Use  these derived colors under this section in the code **/ 
  --color-primary: var(--color-primary-blue);
  --color-secondary: var(--color-tertiary-blue);
  --color-tertiary: var(--color-cream);
  --color-unique: radial-gradient(var(--color-tertiary-yellow),var(--color-primary-yellow));

  --app-font-family: 'Open Sans', sans-serif;
 /*   Fonts  use any one.
    --app-font-family:: 'Spectral', serif;
     --app-font-family: 'Mukta', sans-serif; 
      --app-font-family: 'Open Sans', sans-serif; 
    */


  /** --------- START Dark Theme -------------**/
  --app-background: var(--color-primary);
  --app-font-color: var(--color-tertiary);

  --navbar-bkg-color: var(--color-primary);
  --navbar-font-color: var(--color-tertiary);
  /** --------- END Dark Theme ------------- **/


  /** --------- START Light Theme ----------- 
 --app-background: var(--color-tertiary);
 --app-font-color: var(--color-primary);

 --navbar-bkg-color: var(--color-tertiary);
 --navbar-font-color: var(--color-primary);   
/** --------- END Light Theme ------------- **/



  /** --------------------------------------------**/
  /** simple card defaults for both dark and light themes **/
  /** --------------------------------------------**/
  --simple-card-header-bkg-color: var(--color-secondary);
  --simple-card-header-color: var(--color-tertiary);
  --simple-card-border-color: var(--color-primary-yellow);

  /*  
  These are redundant, used in code, but not needed as we are keeping them same as defaults
  --simple-card-background-color: var(---app-background);  
  --simple-card-font-color: var(--app-font-color); */
  /*** --- END simple card defaults  -------------**/

  /*
     --app-font-color: var(--color-primary); 
    --simple-card-header-color: var(--app-background);
     */

}