.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  top: 0;
  position: sticky;
  z-index: 100;

  background: var(--color-secondary) !important;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.brand-title {
  margin: .5rem 1.5rem;
}

.toggle-button {
  display: none;
  padding: 1rem;
  width: 60px;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  margin: 0;
}
.navbar-link {
  list-style: none;
  padding: .5rem 1.5rem;
}
/** <Link> gets rendered as a tag **/
.navbar-link a {
  text-decoration: none;
  font-weight: 400;
  font-size: .9rem;;
  color: var(--color-bkg);
}
.navbar-links li a:hover {
  font-weight: 500;
  font-size: 1rem;
}

.navbar-link>.blinking a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;;
  color: #fcc221;
  animation: blinker 1s linear infinite;
}


@media (max-width: 768px) {
  .toggle-button {
    display: block;
  }
  .navbar-links {
    width: 100%;
    flex-direction: column;
  }
  .navbar-link {
    text-align: center;
    padding: .5rem 0;
  }
}