.appFooter {
    padding-top: 3rem;
    font-size: .875rem;
    
    color: var(--color-quote) !important;
    background: var(--dark-radial-gradient);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
}

.appFooter>div {
    padding: .5rem;
}


/*--.appFooter Company Info ----*/
.appFooter .company-info {
    grid-column: 2 / 7;
    font-style: italic;
}

/*--.appFooter Contact Info ----*/
.appFooter .contact-me {
    grid-column: 9/ -2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me .thanks {
    width: 12rem;
    text-align: center;
    background-color: var(--color-dark-red);
    color: var(--color-quote-light);
    font-weight: 600;
    border-radius: 10px;
}

.appFooter .contact-me form {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

/*--.appFooter Contact Info ----*/
.appFooter .contact-me input[type="text"],
input[type="email"],
textarea {
    margin: .5rem 0px;
    border: none;
    border-bottom: 1px dotted var(--color-quote-light);

    background-color: var(--dark-radial-gradient);
    color: var(--color-quote-light);
}

.appFooter .contact-me input[type='submit'] {
    width: 25%;
    min-width: 115px;
    font-size: 0.7rem;
}

/*--.appFooter Copyright----*/
.appFooter .footer-icon {
    grid-column: 1/ -1;
    text-align: center;
    padding: 0;
}

.appFooter .footer-icon img {
    margin: .5rem;
    cursor: pointer;
}

.appFooter .donate {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}

.appFooter .donate  img, input[type=image]{
    width: 80px;
    filter: brightness(70%);
    padding-right: 10px;;
}

.appFooter .donate  img:hover, input[type=image]:hover{
    filter: brightness(95%);
}

/*--.appFooter Copyright----*/
.appFooter .bottom {
    grid-column: 1/ -1;
    text-align: center;
    font-size: .875em;
    padding-top: 0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
    .appFooter>div {
        text-align: center;
        grid-column: 2 / -2;
        /* not sure why this is not working. So I've to give div by id as below*/
    }

    .appFooter .company-info {
        grid-column: 2 / -2;
    }

    .appFooter .contact-me {
        margin: 2rem 1rem;
        grid-column: 2/ -2;
    }

    .appFooter .contact-me form {
        padding: 0;
    }
}

@media (min-width: 769px) and (max-width: 959px) {
    .appFooter .contact-me {
        grid-column: 8/ -2;
    }
}