:root{
    --footer-color: #e8dddd;
    --footer-blue: #03243b;
    --button-blue: #2c76dc;
}

.appFooter {
    padding-top: 5rem;
    color: var(--footer-color);
    font-size: .8rem;

    background: radial-gradient(var(--color-secondary), var(--footer-blue));

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.appFooter>div {
    padding: .5rem;
}
/*--.appFooter Company Info ----*/
.appFooter .company-info {
    grid-column: 2 / 7;
}

/*--.appFooter Contact Info ----*/
.appFooter .contact-me {
    grid-column: 8/ -2;

    box-shadow: 0px 0px 10px black;
    border-radius: .5rem;
}

.appFooter .contact-me header {
    font-weight: 500;
    font-size: 1.1rem;
    padding: 3px;
    width: 100%;
    text-align: center;
}

.contact-me .thanks {
    text-align: center;
    font-weight: 600;
    border-radius: .5rem;
    background-color: #2c76dc;
    padding: 0 .75rem;
}

.appFooter .contact-me form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*--.appFooter Contact Info ----*/
.appFooter .contact-me input[type="text"],
input[type="email"],
textarea {
    margin: .5rem 0px;
    
    border: none;
    border-bottom: 1px dotted var(--color-quote-light);

    background-color: var(--dark-radial-gradient);
    color: var( --footer-color);
    filter: brightness(80%);
}

.appFooter .contact-me input[type='submit'] {
    font-size: .7rem;
    min-width: 10em;
    border-radius: .7rem;
    background: #2c76dc;
}

/*--.appFooter Copyright----*/
.appFooter .footer-icon {
    grid-column: 1/ -1;
    text-align: center;
    padding: 0;
}

.appFooter .footer-icon img {
    margin: .5rem;
    cursor: pointer;
}

.appFooter .donate {
    grid-column: 1/-1;
}

.appFooter .donate img,input[type=image] {
    width: 80px;
    filter: brightness(70%);
    padding-right: 10px;
}

.appFooter .donate img:hover,input[type=image]:hover {
    filter: brightness(95%);
}

/*--.appFooter Copyright----*/
.appFooter .bottom {
    grid-column: 1/ -1;
    text-align: center;
    font-size: .875em;
    padding-top: 0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
    .appFooter {
        padding-top: 2rem;
    }
    .appFooter .company-info {
        grid-column: 2 / -2;
    }
    .appFooter .contact-me {
        grid-column: 2/ -2;
        margin: 2rem 1rem;
    }
}

@media (min-width: 769px) and (max-width: 959px) {
    .appFooter .contact-me {
        grid-column: 8/ -2;
    }
}