.feed img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  filter: brightness(95%);
  box-shadow: .75vh .75vh .75vh var(--color-tertiary);
  border-radius: .5rem;
}

.feed img:hover {
  box-shadow: 1vh 1vh 1vh var(--color-secondary);
  filter: brightness(100%);
  width: 102%;
}