.feeds-list {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    /* grid-auto-rows: minmax(100px, auto); */
    column-gap: 2vw;
    row-gap: 2vh;
    margin: 5vh 1vw;
  }
  .feed{
      box-shadow:.5vh .5vh 1vh  rgb(138, 152, 170);
      text-align: center;
  }
  .feed img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    filter: brightness(95%);
  }
  
  .feed img:hover{
    box-shadow: .75rem .75rem 1rem rgb(133, 138, 147);
    filter: brightness(100%);
    width: 101%;
  }

  /*** Media query -------*/

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 599px) {
  .feeds-list {
    grid-template-columns: repeat(1, 12fr);
  }
}

@media (min-width: 600px)  and (max-width: 768px) {
  .feeds-list {
    grid-template-columns: repeat(2, 12fr);
  }
}

@media (min-width: 769px)  and (max-width: 1200px) {
  .feeds-list {
    grid-template-columns: repeat(3, 4fr);
  }
}

  