.photography-desc{
  margin: 1em 1vw;
  padding: 1em 1em;
  height: 5em;
  border:1px solid #3f5173;
  box-shadow:  .5vh .5vh 2vh .5vh #3f5173;
}
.feeds-list {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  /* grid-auto-rows: minmax(100px, auto); */
  column-gap: 1vw;
  row-gap: 2vh;
  margin: 5vh 1vw;
}

.feed {
  box-shadow: .75vh .75vh .75vh #8a98aa;
  text-align: center;
}

.feed img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  filter: brightness(95%);
/*--copied following properties from internet
 to disable drag. not sure which one works ---*/
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-drag: none;
}

.feed img:hover {
  box-shadow: 1vh 1vh 1vh rgb(133, 138, 147);
  filter: brightness(100%);
  width: 101%;
}

/*** Media query -------*/
/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 599px) {
  .feeds-list {
    grid-template-columns: repeat(1, 12fr);
  }
  .photography-desc{
    height: 8em; 
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .feeds-list {
    grid-template-columns: repeat(2, 12fr);
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .feeds-list {
    grid-template-columns: repeat(3, 4fr);
  }
}