:root {
    --color-bkg: #ffff;
  
    --color-primary: #6867AC;
    --color-secondary: #A267AC;
    --color-tertiary: #CE7BB0;
    
    --color-quote: #616060;
    --color-quote-light: #4d4b4ba7 ;

  }