@import url('./themes/x.css');

body {

  --light-radial-gradient: radial-gradient(var(--color-bkg), var(--color-secondary));
  --dark-radial-gradient: radial-gradient(var(--color-secondary), var(--color-primary));
  
  --color-quote: #8a8989;
  --color-quote-light: #8a8989a7 ;

  font-family: 'Open Sans', sans-serif;

  max-width: 95%;
  align-items: center;
  margin: 0px auto;

  color: var(--color-primary);
  background-color:   var(--color-bkg);

  /*--copied following properties from internet
 to disable click. not sure which one works ---*/
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;  /* Firefox all */
  -ms-user-select: none;  /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}




.quote {
  font-size: 0.85em;
  color: var(--color-quote);
  font-style: italic;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-s {
  width: 30px;
  height: 30px;
}
.img-m {
  width: 70px;
  height: 70px;
}
.img-l {
  width: 110px;
  height: 110px;
}
.img-xl {
  width: 150px;
  height: 150px;
}
.img-xxl {
  width: 250px;

}