@import url('./themes/good-theme2.css');
@import url(./common/style/containers.css);
@import url(./common/style/masonry.css);

:root{
  --lightest-radial-gradient: radial-gradient(transparent,var(--color-bkg));
  --light-radial-gradient: radial-gradient(var(--color-bkg), var(--color-tertiary));
  --medium-radial-gradient: radial-gradient(var(--color-tertiary), var(--color-secondary));
  --dark-radial-gradient: radial-gradient(var(--color-secondary), var(--color-primary));
  
  --color-quote: #8a8989;
  --color-quote-light: #8a8989a7 ;

  --color-dark-red:  #570000;
  --color-red:  #680101;
  --font-family: 'Open Sans', sans-serif;
}
body {
  font-family: var(--font-family);
  line-height: 1.6;

  max-width: 98%;
  align-items: center;
  margin: 0px auto;

  color: var(--color-primary);
  background-color: var(--color-bkg);
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  /*--copied following properties from internet
 to disable drag. not sure which one works ---*/
 -webkit-user-drag: none;/* Chrome all / Safari all */
 -khtml-user-drag: none;
 -moz-user-drag: none;  /* Firefox all */
 -o-user-drag: none;
  user-drag: none;

    /*--copied following properties from internet
 to disable click. not sure which one works ---*/
 -webkit-user-select: none;  /* Chrome all / Safari all */
 -moz-user-select: none; 
 -ms-user-select: none;  /* IE 10+ */
 -o-user-select: none;
 user-select: none;

 -webkit-touch-callout: none; /* to disable iphone force touch*/
}

.quote {
  font-size: 0.85em;
  color: var(--color-quote);
  font-style: italic;
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pointer:hover{
cursor: pointer;
}
.img-xs {
  width: 15px;
}
.img-s {
  width: 30px;
}
.img-m {
  width: 70px;
}
.img-l {
  width: 110px;
}
.img-xl {
  width: 150px;
}
.img-xxl {
  width: 250px;
}

.round{
     /*-- make sure width and hight are set as same. --*/
     border-radius: 50%;
     overflow: hidden;
     box-shadow:  5px 5px 5px ;
}
.round-button {
  text-align: center;
  cursor: pointer;
  border-radius: 1.5rem;
  border: 1px solid var(--color-secondary);
}

.red-button {
  background-color: var( --color-dark-red);
  color: var(--color-quote);
}

.red-button:hover {
  background-color: var(  --color-red);
  color: var(--color-quote);
}

.multi-color-text {
  background-image: linear-gradient(to right, #FF2626, #0295a3, #0ab90a, #b79917, #ef7b45, #0353a4, #08ab08, #FF2626, #c29f04, #036b75, #FF2626, #0353a4);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}