@media (max-width: 768px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }
  
    .boxes .container {
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
    }
    
  }
  