.search-posts {
  grid-column: -3 / -1;
  align-self: end;
  padding: 0 5vw;
}

.search-posts input {
  width: 100%;
  height: 3rem;

  color: var(--color-quote);
 font-size: 1em;
  border: none;
  border-bottom: 1px dotted var(--color-quote-light);
}


/*------ actual post content -------*/
.post-content {
  box-shadow: .25rem .25rem 15px var(--color-secondary);
  margin: 1vh 1vw;
  padding: 1vh 5vw;
  width: 75%;
}

.post-content * {
  font-size: 1rem !important;
  font-family: 'Open Sans', sans-serif !important;
  font-family: inherit;
  max-width: 100%;
}


/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 600px) {
  .search-posts {
    grid-column: 1 / -1;
  }

  .post-content {
    padding: 1vh 1vw;
  }
}

@media (min-width: 600px) and (max-width: 850px) {
  .post-content {
    width: 95%;
  }
}