.blog-post {
  height: 100%;
  width: 100%;
  padding-top: 3vh;

  display: grid;
  row-gap: 3vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto-fill);
}
.blog-post-description{
  grid-column: 1 / 4;
}
.search-posts {
  grid-column: 4 / 5;
  padding: 1vw;
}
.search-posts input{
  width: 100%;
}
.blog-content{
  grid-column: 1 / -1;
}


/*------ actual post content -------*/
.post-content {
  box-shadow: .25rem .25rem 15px rgb(175, 196, 238);
  margin: 1vh 1vw;
  padding: 1vh 5vw;
}
.post-content * {
  font-size: 1rem !important;
  font-family: Roboto !important;
  font-family: inherit;
  max-width: 100%;
}