/************************************
          Overview Card
***********************************/
.post-overview-card {
  box-shadow: .25rem .25rem 1rem var(--color-tertiary);
  border-bottom-left-radius: 3.5rem;
  border-bottom-right-radius: 1rem;
}
.post-overview-card:hover {
  box-shadow: .25rem .25rem 1rem var(--color-secondary);
  filter: brightness(95%);
}

.post-overview-card>header img {
  width: 100%;
  /* max-height: 300px !important; */
}
.post-overview-card>header img:hover {
  filter: brightness(80%);
}


.post-overview-card>section p {
  margin: 1rem 1rem;
}
.post-overview-card>section>.post-title{
  min-height: 2rem;
}
.post-overview-card>section .quote {
  font-size: .875rem;
}


.post-overview-card>footer{
  margin: .5rem;
  display: flex;
  justify-content: flex-end;
}
.post-overview-card>footer .read-more {
  background-color: var(--color-bkg);
  color: var(--color-secondary);
  padding: .5rem .875rem;
}
.post-overview-card>footer .read-more:hover {
  background-color: var(--color-primary);
  color: var(--color-bkg);
}